@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #373b69;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

.movie{
    background-color: #989feb;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 300px;

}

.movie img{
    max-width: 100%;
}